body {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}
table {
  width: 100%;
  height: 100%;
  border-spacing: 0;
}
td {
  border-right: 1px solid;
  border-bottom: 1px solid;
  height: 33%;
  width: 30%;
  text-align: center;
  font-size: xx-large;
}
tr td:last-child {
  border-right: 0;
}
tr:last-child td {
  border-bottom: 0;
}
